<form action="/email/" method="post">
    Serviço de e-mail:<br>
    <select name="servico" id="">
        <option value="gmail" selected>Gmail</option>
        <option value="hotmail">Hotmail</option>
    </select> <br>
    E-mail do remetente <br>
    <input type="text" name="emailR" placeholder="Digite seu e-mail remetente"><br>
    Senha do remetente <br>
    <input type="password" name="senha" placeholder="Digite sua senha"><br>
    E-mail do destinatario <br>
    <input type="text" name="emailD" placeholder="Digite o e-mail destinatario"><br>
    Assunto <br>
    <input type="text" name="assunto" placeholder="Digite o assunto"><br>
    Sua mensagem <br>
    <textarea name="mensagem" id="" cols="30" rows="10"></textarea> <br>
    <button type="submit">Enviar</button>
</form>