<!-- public/index.html file -->
<form action="/generic/uploadFile" enctype="multipart/form-data" method="POST"> 
    <input type="file" name="photo" />
    <input type="submit" value="Upload Photo"/>
 </form>